{% extends 'HOD-Admin/admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/editcourse_post">
  <table width="200" border="1" class="table table-striped">
    <tr class=" table-dark ">
      <td>course</td>
      <td><label>
        <input type="text" name="textfield" value="{{ vall.course }}"  required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>details</td>
      <td><label>
        <input type="text" name="textfield2" value="{{ vall.details }}"  required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>no. of sem </td>
      <td><label>
        <input type="text" name="textfield3" value="{{ vall.noofsem }}"  required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
        <td></td>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" class="btn btn-outline-success" align="center"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}