{% extends 'staff/staff_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
    <tr class=" table-dark ">
      <td><p><a href="viewintrestingareas">manage intresting areas </a></p>
      <p><a href="viewprojectnotifications">view project notifications </a></p>
      <p><a href="viewassignedtopics">view assigned topics</a></p>
      <p><a href="#">chat with student</a></p></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
